@import "nprogress/nprogress.css";
@import "element-plus/theme-chalk/index.css";
@import "element-plus/theme-chalk/display.css";
@import "element-pro-components/lib/styles/index.css";

// color palette from <https://github.com/vuejs/theme>
// element-plus color https://element-plus.gitee.io/zh-CN/component/color.html
// remember to update colors in ../../tailwind.config.js
/* stylelint-disable-next-line block-no-empty */
:root {
}

@media (prefers-color-scheme: dark) {
  /* stylelint-disable-next-line block-no-empty */
  :root {
  }
}

.expansion {
  position: relative;

  &::after {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    bottom: -0.75rem;
    left: -0.75rem;
    color: transparent;
    content: "";
    background-color: transparent;
    border-color: transparent;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
